[DZJINTONIK]
environment = prod
asp_session_test = PUT YOUR SECRET
request_token_test = PUT YOUR SECRET
asp_session_uat = PUT YOUR SECRET
request_token_uat = PUT YOUR SECRET
asp_session_prod = PUT YOUR SECRET
request_token_prod = PUT YOUR SECRET
chrome_path = "C:/Program Files (x86)/Google/Chrome/Application/chrome.exe"
default_dzjintonik_user_email = PUT YOUR SECRET
internal_company_id = 1
program_id =39
master_program_id =39
test_domain = PUT YOUR DOMAIN
api_test_domain = PUT YOUR DOMAIN
api_test_authorization = PUT YOUR SECRET
uat_domain = PUT YOUR DOMAIN
api_uat_domain = PUT YOUR DOMAIN
api_uat_authorization = PUT YOUR SECRET
prod_domain = PUT YOUR DOMAIN
api_prod_domain = PUT YOUR DOMAIN
api_prod_authorization = PUT YOUR SECRET
store_contact_pictures_in = ./static/images/contact_images/

[MONGODB]
server = localhost
port = 27017

[SQL]
server_prod = YOUR SERVER
server_test = YOUR SERVER
database = YOUR DATABASE

[GMAIL]
client = YOUR SECRET
secret = YOUR SECRET

[LDAP]
server_name = YOUR LDAP
domain_name = YOUR DOMAIN
user_name = YOUR USER
password = YOUR PASSWORD
