
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4 bg-light">



        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://www.medialaan-persgroep.be"> Medialaan - De Persgroep Publishing</a>
        </div>
        <!-- Copyright -->
        {% if env %}
        <div class="text-center ENV {{ env }}">WORKING IN {{ env }}</div>
        {% endif %}
      </footer>
      <!-- Footer -->


    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
